@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root {
    --primary-color: #ff7f50;
    --secondary-color: #ffd700;
    --background-color: #f9f9f9;
    --dark-background: #4b0e0e; /* Fundo vinho */
    --dark-header-bg: #79052c; /* Fundo do header no dark mode */
    --dark-button: #79052c; /* Botões no dark mode */
    --dark-first-button: #4b0e0e; /* Primeiro botão no dark mode */
    --dark-text: #ffdab9; /* Letra clara no dark mode */
    --dark-card-text: #000; /* Letra preta dentro de quadros brancos no dark mode */
    --text-color: #333;
    --button-color: #ffa07a;
    --button-hover-color: #ff6347;
    --white: #ffffff;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
    --header-font: 'Dancing Script', cursive;
    --base-font: 'Dancing Script', cursive;
}

body {
    font-family: var(--base-font), Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--dark-background); /* Fundo vinho */
    color: var(--dark-text); /* Texto claro */
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
}

body.dark-mode header {
    background-color: var(--dark-header-bg); /* Fundo vinho escuro no dark mode */
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

button {
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8rem;
    cursor: pointer;
    font-family: var(--header-font);
}

button:hover {
    background-color: var(--button-hover-color);
}

body.dark-mode button {
    background-color: var(--dark-button); /* Cor dos botões no dark mode */
}

body.dark-mode button:first-of-type {
    background-color: var(--dark-first-button); /* Cor do primeiro botão no dark mode */
}

#toggleTheme {
    margin-top: 1rem;
}

/* Quadros brancos */
.promotion-item, 
.cart {
    background-color: var(--white);
    color: var(--text-color);
}

body.dark-mode .promotion-item,
body.dark-mode .cart {
    color: var(--dark-card-text); /* Texto preto dentro dos quadros brancos no dark mode */
}


/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .carousel-inner {
        transform: scale(0.9);
    }

    .carousel-item img {
        max-height: 180px;
        object-fit: cover;
    }
}
